@charset "UTF-8";

                    /*CELULARES*/
@media screen and (max-width: 480px) {
    body {
        width: 100%;
        background-image: url(../images/compose-responsiveImg1.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }

    button {
        width: 81.17px;
        height: 40px;
        
    }
    
    main {
        max-width: 400px;
        margin: 155px auto;
        margin-top: 35px;
        
    }

    #imgTitle {
        display: block;
        margin: auto;
        max-width: 105px;
        height: 59.11px;
    }

    h1 {
        display: flex;
        text-align: center;
        max-width: 320px;
        margin: 40px auto 10px auto;
        font-size: 22px;
        
    }

    #divInput {
        flex-wrap: wrap;
        margin: 0px auto 80px auto;
        max-width: 320px;
    }

    #iemail {
        display: flex;
        border-radius: 6px;
        margin: 0px auto 12px auto;
        width: 100%;
        max-width: 320px;
        
    }

    #inputButton {
        border-radius: 6px;
        margin: auto;
        width: 100%;
        max-width: 320px;
    }

    p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0px;
        margin: 10px auto 0px auto;
        line-height: normal;
    } 
    a {
        font-size: 13px;
    }

    #imglogo{
        margin: 15px auto 0px auto;
        max-width: 288px;
        height: 11.13px;
    
    }

    #imglogos {
        margin: 0px;
        max-width: 288px;
        height: 11.13px;
    }

    #divButtonForImages {
        display: none;
    }

    #divButtonForImagesTop{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 10px;
        top: 30px;
    }

    .buttonForImagesTop {
        display: flex;
        flex-direction: column;
        width: 3px;
        height: 20px;
        margin: 3px;
    }

    .buttonForImagesTop:hover,
    .buttonForImagesTop.ativo {
        background-color: #7F8086;
    }
    #arrow {
        display: flex;
        justify-content: center;
        margin: 0px auto 50px auto;
        width:  55px;
        height: 55px;
    }

    svg{
        border: none;
        background-color: rgba(255, 255, 255, 0);
        color: #2C2E35;
        width: 48px;
        height: 48px;
    }

    svg:hover {
        border: none;
        color: rgb(250, 249, 249);
        background-color: rgba(255, 255, 255, 0);
    }

    footer {
        display: none;
    }

}


                    /*TABLETS*/
@media screen and (min-width: 481px) and (max-width:768px) {
    body {
        width: 100%;
        background-image: url(../images/compose-responsiveImg1.webp);
        background-repeat: no-repeat;
    }

    button {
        width: 81.17px;
        height: 40px;
        
    }
    
    main {
        width: 100%;
        max-width: 540px;
        margin: 155px auto;
        margin-top: 285px;
        
    }

    #imgTitle {
        display: block;
        margin: auto;
        max-width: 105px;
        height: 59.14px;
    }

    h1 {
        display: flex;
        text-align: center;
        max-width: 500px;
        margin: 15px auto 16px auto;
        font-size: 21px;
        
    }

    #divInput {
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0px auto;
        width: 100%;
        max-width: 540px;
    }

    #iemail {
        display: flex;
        border-radius: 6px;
        margin: 0px auto 12px auto;
        width: 100%;
        max-width: 540px;
        
    }

    #inputButton {
        border-radius: 6px;
        margin: auto;
        width: 100%;
        max-width: 540px;
    }

    p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0px;
        margin: 62px auto 0px auto;
        line-height: normal;
    } 
    a {
        font-size: 13px;
    }

    #imglogo {
        display: flex;
        justify-content: center;
        margin: 45px auto 0px auto;
        width: 100%;
        max-width: 539px;
        height: 21px;
    }

    #imglogos {
        margin: 0px;
        width: 100%;
        max-width: 540px;
        height: 21px;
    }

    #divButtonForImages {
        display: none;
    }

    #divButtonForImagesTop{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 10px;
        top: 30px;
    }

    .buttonForImagesTop {
        display: flex;
        flex-direction: column;
        width: 3px;
        height: 20px;
        margin: 3px;
    }

    .buttonForImagesTop:hover,
    .buttonForImagesTop.ativo {
        background-color: #7F8086;
    }

    #arrow {
        display: flex;
        justify-content: center;
        margin: 0px auto 50px auto;
        width:  55px;
        height: 55px;
    }

    svg{
        border: none;
        background-color: rgba(255, 255, 255, 0);
        color: #2C2E35;
        width: 48px;
        height: 48px;
    }

    svg:hover {
        border: none;
        color: rgb(250, 249, 249);
        background-color: rgba(255, 255, 255, 0);
    }

    footer {
        display: none;
    }

}



@media (min-width: 769px) and (max-width:1024px) {
    body {
        display: flex;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        background-image: url(../images/compose-responsiveImg1.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }

    button {
        width: 81.17px;
        height: 40px;
        
    }
    
    main {
        width: 100%;
        max-width: 921.63px;
        margin: 155px auto;
        margin-top: 437px;
        
    }

    #imgTitle {
        display: block;
        margin: auto;
        max-width: 200px;
        height: 112.66px;
    }

    h1 {
        display: flex;
        text-align: center;
        padding: 0px;
        width: 100%;
        max-width: 921.63px;
        margin: 15px auto 16px auto;
        font-size: 28px;
        
    }

    #divInput {
        padding: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0px auto;
        width: 100%;
        max-width: 921.63px;
    }

    #iemail {
        display: flex;
        border-radius: 6px;
        margin: 0px;
        width: 100%;
        max-width: 439.19px;
        
    }

    #inputButton {
        border-radius: 6px;
        margin: 0px;
        width: 100%;
        max-width: 200.81px;
    }

    p {
        font-size: 16px;
        text-align: center;
        margin: 20px auto 0px auto;
        line-height: normal;
    } 
    a {
        font-size: 13px;
    }

    #imglogo {
        display: flex;
        justify-content: center;
        margin: 8px auto 0px auto;
        width: 100%;
        max-width: 921.63px;
        height: 35.27px;
        font-size: 16px;

    }

    #imglogos {
        margin: 0px;
        width: 100%;
        max-width: 921.63px;
        height: 35.27px;
    }

    #divButtonForImages {
        display: none;
    }

    #divButtonForImagesTop{
        display: none;
        flex-direction: column;
        position: fixed;
        right: 10px;
        top: 30px;
    }

    .buttonForImagesTop {
        display: flex;
        flex-direction: column;
        width: 3px;
        height: 20px;
        margin: 3px;
    }
    .buttonForImagesTop:hover,
    .buttonForImagesTop.ativo {
        background-color: #7F8086;
    }

    #divButtonForImages {
        display: flex;
        margin: 0px auto 50px auto;
        width: 100%;
        max-width: 610px;
        margin: auto;
    }

    .buttonForImages{
        cursor: pointer;
        background-color: #282A35;
        width: 121.69px;
        height: 2px;
        border: 0px solid #282A35;
        margin-left: 1.5px;
        transition: 0.3s
    }

    .buttonForImages:hover {
        background-color: #7F8086;
    }

    #arrow {
        display: flex;
        justify-content: center;
        margin: 0px auto 50px auto;
        width:  55px;
        height: 55px;
    }

    svg{
        border: none;
        background-color: rgba(255, 255, 255, 0);
        color: #2C2E35;
        width: 48px;
        height: 48px;
    }

    svg:hover {
        border: none;
        color: rgb(250, 249, 249);
        background-color: rgba(255, 255, 255, 0);
    }

    footer {
        display: none;
    }
}
